<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Jweb</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/pages/samples/error-404.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>SalleController</display-name>
    <servlet-name>SalleController</servlet-name>
    <servlet-class>controller.SalleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalleController</servlet-name>
    <url-pattern>/SalleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/AdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OcuppationController</display-name>
    <servlet-name>OcuppationController</servlet-name>
    <servlet-class>controller.OcuppationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OcuppationController</servlet-name>
    <url-pattern>/OcuppationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrenonController</display-name>
    <servlet-name>CrenonController</servlet-name>
    <servlet-class>controller.CrenonController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrenonController</servlet-name>
    <url-pattern>/CrenonController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartsController</display-name>
    <servlet-name>ChartsController</servlet-name>
    <servlet-class>controller.ChartsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartsController</servlet-name>
    <url-pattern>/ChartsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientController</display-name>
    <servlet-name>ClientController</servlet-name>
    <servlet-class>controller.ClientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientController</servlet-name>
    <url-pattern>/ClientController</url-pattern>
  </servlet-mapping>
</web-app>